@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Kalam:wght@300;400;700&family=Teko:wght@300..700&display=swap');
body{ padding: 0;
 margin: 0;
    background-color: rgb(242, 245, 248);
   
}
.Navbar{
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    box-shadow: 0px 1px black;
    background-color: rgb(249, 250, 248);
    margin-top: 5px;
    font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}
.Navlogo{
    display:flex;
    align-items: center;
    justify-content:center;
    font-size: 30px;
    font-weight:500;
}
.Navlogo img{
    height:70px;
    width:160px;
    border: 1px solid green;
    border-radius: 10px;
    box-shadow: 2px 2px 3px green;
    margin-bottom: 4px;
}
.Navitems{
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 18px;
}
.Navitems li{
    margin-left: 15px;
    margin-right: 15px;
    list-style: none;
    cursor: pointer;
    
}
.Navitems li a{
    text-decoration: none;
    color: black;
}
.Navitems li hr{
    border:none;
    width:80%;
    background-color: rgb(3, 114, 20);
    height: 3px;
    border-radius: 10px;
}
.log{
    display: flex;
    align-items: center;
    justify-content:center;
    cursor: pointer;
    font-size: 18px;
}
.log img{
    width:30px;
    height:30px;
   
}
.log button{
    display: flex;
    align-items: center;
    justify-content:center;
    width:120px;
    height:30px;
    font-size: 17px;
    margin-right:40px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.log a{
    text-decoration: none;
    color: black;
}
.log button :active{
    background-color: rgb(156, 247, 36);
}
.countitem{
    background-color: rgb(34, 235, 84);
    position: relative;
    left:5px;
    top:2px;
    border-radius: 10px;
    font-size: 10px;
    width:15px;
    display: flex;
    align-items: center;
    color: azure;
    justify-content: center;
    margin-top:-26px;
    margin-right:-35px;
    
}
